<div class=" mt-5 d-flex justify-content-center align-items-center full-height">
    <div class="container max-width">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">

          <%= render "form", grocery: @grocery %>

          <br>

          <div>
            <%= link_to "Back to groceries", groceries_path, class: "btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .full-height {
      height: 50vh;
    }
    .max-width {
      max-width: 100%;
      white-space: nowrap;
    }
  </style>